.header {
  margin: 45px auto 0;
  padding: 0;
  max-width: 880px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(84, 84, 84, .7);;
  padding-bottom: 41px;
}

@media screen and (max-width: 883px){
  .header {
    padding-left: 27px;
    padding-bottom: 31px;
  }
}
